@import "./normalize.scss";
@import "./grid.scss";

body {
  font-family: Lato, sans-serif;
}

img {
  width: 100%;
}

header {
  display: flex;
  justify-content: center;

  a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 48px;
    color: black;
  }
}

.container {
  max-width: 1440px;
  padding: 0 48px;
  margin: 0 auto;
}

.card {
	&__image {
		overflow: hidden;
	}

  &__text {
    display: block;
    text-align: center;
    margin-top: 8px;
  }
}
